.ListItem{
    display: flex;
    margin: 2px;
}
.ListItem p{
    margin: inherit;
}
.ListItem input{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
.ItemDone{
    color: darkgray;
    text-decoration: line-through;
}