.ListItem{
    display: flex;
    margin: 2px;
}
.ListItem p{
    margin: inherit;
}
.ListItem input{
    width: 1.5em;
    height: 1.5em;
    color: #000000;
    border: 1px solid #525252;
    border-radius: 4px;
    cursor: pointer;
}