.ListHeader{
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgb(168, 168, 168), -1px 1px 0 rgb(168, 168, 168), 1px -1px 0 rgb(168, 168, 168), -1px -1px 0 rgb(168, 168, 168);
    letter-spacing: 3px;
    background-color: rgb(170, 186, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1{
    margin: 10px;
}